/* #region main components */
.cvl-input {
  height: 36px;

  border-style: solid;
  border-color: #e5e5e5;
  border-width: 1px;
  border-radius: var(--cvl-border-radius);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
    background-color: #f5f5f5;
  }

  &:not(:disabled):hover {
    border-color: #aaa;
  }

  &:focus {
    outline: 1px solid black;
    border-color: transparent !important;
  }

  &:required:not(:placeholder-shown):user-invalid,
  &:not(:required):user-invalid {
    border: 1px solid #ef4343;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

.cvl-input-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  height: 21px;
}

.cvl-input-error-message {
  padding-top: 0.2rem;
  font-size: 0.7rem;
  color: #ef4343;
  height: 100%;
  transition: all 0.2s ease-in;
  overflow: hidden;
  font-weight: 600;
}
/* #endregion */

/* #region containers */
.cvl-input-container {
  width: 100%;
}

.cvl-input-wrapper {
  position: relative;

  &:has(.cvl-input-left-icon) .cvl-input {
    padding-left: 2.6rem;
  }

  &:has(.cvl-input-right-icon, .cvl-input-password-icon, .cvl-input-clear)
    .cvl-input {
    padding-right: 2.6rem;
  }
}
/* #endregion */

/* #region icons */
.cvl-input-left-icon,
.cvl-input-right-icon,
.cvl-input-password-icon,
.cvl-input-clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
  font-size: 20px;
}

.cvl-input-left-icon,
.cvl-input-right-icon {
  pointer-events: none;
}

.cvl-input-left-icon {
  left: 0.8rem;
}

.cvl-input-right-icon,
.cvl-input-password-icon {
  right: 0.8rem;
}

.cvl-input-password-icon:hover {
  color: rgb(59, 130, 246);
  cursor: pointer;
}

.cvl-input-container:has(
    .cvl-input:required:not(:placeholder-shown):user-invalid,
    .cvl-input:not(:required):user-invalid
  )
  .cvl-input-error-message {
  height: 1.2rem;
}

.cvl-input-clear {
  right: 0.9rem;
  cursor: pointer;

  &:has(+ span) {
    right: 2.35rem;
  }

  &:hover {
    color: red;
  }
}

.cvl-input-throbber {
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: transparent #646464 #646464 transparent !important;
  animation: Spin 1s linear infinite;
}
/* #endregion */
