.textarea__wrapper {
  position: relative;
  width: 100%;
  flex: 1 1 0%;
}

.textarea__label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.textarea__container {
  position: relative;

  &:has(.textarea__left_icon) .textarea {
    padding-left: 2.6rem;
  }

  &:has(.textarea__right_icon, .textarea__clear_button) .textarea {
    padding-right: 2.6rem;
  }
}

.textarea__left_icon,
.textarea__right_icon,
.textarea__clear_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #94a3b8;
  font-size: 20px;
}

.textarea__left_icon {
  left: 0.8rem;
}

.textarea__right_icon {
  right: 0.8rem;
}

.textarea {
  min-height: 2.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  resize: none;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    border-color: rgb(59, 130, 246);
  }
  &:focus {
    box-shadow: 0 0 1px 3px rgb(196, 224, 250);
    border-color: rgb(59, 130, 246) !important;
  }

  &:active,
  &:focus-visible {
    outline: none;
  }

  &.resizable {
    resize: vertical;
  }
}

.textarea__helper_container {
  padding-top: 0.2rem;
  font-size: 0.7rem;
  color: #ef4343;
  height: 0;
  transition: all 0.2s ease-in;
  overflow: hidden;
  font-weight: 600;
}

.textarea__wrapper:has(.textarea:required:not(:placeholder-shown):invalid, .textarea:not(:required):invalid)
  .textarea__helper_container {
  height: 1.2rem;
}

.textarea:required:not(:placeholder-shown):invalid,
.textarea:not(:required):invalid {
  border: 1px solid #ef4343;
}

.textarea__clear_button {
  right: 0.9rem;
  cursor: pointer;

  &:has(+ span) {
    right: 2.35rem;
  }

  &:hover {
    color: red;
  }
}
