.cvl-checkbox-container {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.75rem;

  &:not(.cvl-checkbox-compact) {
    height: 36px;
  }
}

.cvl-checkbox-label {
  overflow: hidden;
  text-overflow: ellipsis;
  width: max-content;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.cvl-checkbox {
  appearance: none;
  position: relative;
  height: 1rem;
  width: 1rem;
  border: 1.5px solid #94a3b8;
  border-radius: 4px;
  outline: none;
  background: #ffffff;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -10;
    left: -9px;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 20;
    left: 5px;
    top: 2px;
    height: 0.5rem;
    width: 0.25rem;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    fill: white;
  }

  &:checked,
  &:indeterminate {
    background: var(--cvl-primary);
    border: 1px solid var(--cvl-primary);
  }

  &:checked::after {
    border-bottom: 1.7px;
    border-right: 1.7px;
    border: solid white;
    border-width: 0 2px 2px 0;
  }

  &:indeterminate::after {
    top: 0;
    left: 3.5px;
    width: 7px;
    transform: rotate(0deg);
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-bottom-width: 2px !important;
    border: solid white;
  }

  &:disabled {
    background-color: #e5e5e5;
    cursor: not-allowed;
  }

  &:disabled:checked,
  &:disabled:indeterminate {
    background-color: #94a3b8;
    border-color: #94a3b8;
  }

  &:disabled ~ .cvl-checkbox-label {
    color: #8291a5;
  }
}
